<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>##TITLE##</title>
    <link rel="stylesheet" href="##DISTKEY##/servlet/images/aqua/aqua.css">
</head>
<body background="##DISTKEY##/servlet/images/aqua/aq_background.png" link="#486591" vlink="#6f6c81">
    <table width="100%" border="0">
        <tr>
            <td><a href="##DISTKEY##/"><img src="##DISTKEY##/servlet/images/aqua/hops.png" width="72" height="54" border="0" alt="Freenet logo"></a></td>
            <td align="center" width="100%">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                        <td width="15" height="8" background="##DISTKEY##/servlet/images/aqua/t-infg.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="8" alt=""></td>
                        <td height="8" background="##DISTKEY##/servlet/images/aqua/t-inf.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="8" alt=""></td>
                        <td width="15" height="8" background="##DISTKEY##/servlet/images/aqua/t-infd.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="8" alt=""></td>
                    </tr>

                    <tr>
                        <td width="15" background="##DISTKEY##/servlet/images/aqua/t-g.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="15" alt=""></td>
                        <td bgcolor="#e7edfe" align="center" class="title">Freenet</td>
                        <td width="15" background="##DISTKEY##/servlet/images/aqua/t-d.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="15" alt=""></td>
                    </tr>

                    <tr>
                        <td height="1" width="15" background="##DISTKEY##/servlet/images/aqua/b-g.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="1" alt=""></td>
                        <td height="1" bgcolor="#777777"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="1" alt=""></td>
                        <td height="1" width="15" background="##DISTKEY##/servlet/images/aqua/b-d.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="1" alt=""></td>
                    </tr>

                    <tr>
                        <td width="15" height="8" background="##DISTKEY##/servlet/images/aqua/g.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="8" alt=""></td>
                        <td height="8" bgcolor="#f3f3f3"></td>
                        <td width="15" height="8" background="##DISTKEY##/servlet/images/aqua/d.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="8" alt=""></td>
                    </tr>
                  
                    <tr>
                        <td width="15" background="##DISTKEY##/servlet/images/aqua/g.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="15" alt=""></td>
                        <td bgcolor="#f3f3f3" align="left"><b>##TITLE##</b></td>
                        <td width="15" background="##DISTKEY##/servlet/images/aqua/d.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="15" alt=""></td>
                    </tr>

                    <tr> 
                        <td width="15" height="15" background="##DISTKEY##/servlet/images/aqua/coinsupg.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="15" alt=""></td>
                        <td height="15" background="##DISTKEY##/servlet/images/aqua/sup.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="15" alt=""></td>
                        <td width="15" height="15" background="##DISTKEY##/servlet/images/aqua/coinsupd.png"><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="15" height="15" alt=""></td>
                    </tr>
                </table>
            </td>
            <td><img src="##DISTKEY##/servlet/images/aqua/space15_15.png" width="72" height="54" alt=""></td>
        </tr>
    </table>
##BODY##
</body>
</html>
